* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.contents {
  display: flex;
}
.content {
  background-image: url("/2.jpg");
  width: 417px;
  height: 236px;
  animation-name: anim;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes image {
}
