* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 1920px;
  height: 692px;
  background-position: center;
  background-image: url("/pro.jpg");
}
.frame23 {
  width: 405px;
  height: 172px;
  padding-top: 81px;
  margin-left: 757px;
  gap: 20px;
}

.frame11 {
  height: 60px;
  width: 405px;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  font-weight: 600;

  color: #f5f5f7;
}
.frame12 {
  width: 405px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: 400;
  color: #f5f5f7;
}
button {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
}
.buy-button {
  border-style: solid;
  border: #0071e3;
}
